body { background: #eee; }
* {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul { text-align: center; margin-top: 150px; }
li { display: inline-block; }

.box {
	margin: 0 30px 30px 0;
	position: relative;
	font-size: 14px;
	overflow: hidden;
	width: 320px;
	border-radius: 5px;
	font-family: Helvetica, Arial, Sans-serif;
}
.box img { display: block; }
.caption {
	color: #fff;
	padding: 10px;
	transition: 0.6s ease;
	line-height: 140%;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
}

/** Caption bottom **/
.bottom .caption { bottom: -100%; }
.bottom:hover .caption { bottom: 0; }

/** Caption top **/
.top .caption { top: -100%; }
.top:hover .caption { top: 0; }

/** Caption left **/
.left .caption {
	left: -100%;
	top: 0;
	height: 100%;
	width: 50%;
}
.left:hover .caption { left: 0; }

/** Caption left **/
.right .caption {
	right: -100%;
	top: 0;
	height: 100%;
	width: 50%;
}
.right:hover .caption { right: 0; }

/** Caption middle **/
.middle .caption {
	top: 0;
	left: 0;
	height: 97%;
	opacity: 0;
	visibility: hidden;
}
.middle:hover .caption { opacity: 1; visibility: visible; }
