.wrap {
	width: 920px;
	margin: 0 auto;
}
.card {
	float: left;
	width: 450px;
	height: 300px;
	overflow: hidden;
	position: relative;
	background: #00A4DD;
	margin: 0 20px 20px 0;
	
	img { vertical-align: middle; }
	&:nth-child(2n+2) {	margin-right: 0; }

	figcaption, .description {
		bottom: 0;
		width: 100%;
		padding: 20px;
		display: block;
		color: #ffffff;
		min-height: 50px;
		position: absolute;
		background: #2E3E61;
	}

	.title {
		font-size: 25px;
		text-align: left;
		font-weight: normal;
	}

}
