.wrap {
	display: table;
	margin: 0 auto;
}
.card {
	float: left;
	width: 450px;
	height: 300px;
	background: #00A4DD;
	margin: 0 20px 0 0;
	
	img { vertical-align: middle; }
	&:nth-child(2n+2) {
		margin-right: 0;
	}
}