.card {
	float: left;
	min-height: 250px;
	background: #00A4DD;
	margin: 
		0 
		perc( 15px , $container )
		perc( 15px , $container )
		0;
	width: perc( 288px , $container );
	
	img { vertical-align: middle; }
	&:nth-child(4n+4) {
		margin-right: 0;
	}
}